button {
  all: unset;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  border-radius: 8px;
  padding: 5px;
}

.center-button {
  text-align: center;
}

.primaryButton {
  background-color: var(--secondary-green);
  color: var(--white);
  margin: 30px 0;
  height: auto;
  padding: 8px 30px;
}

.primaryButton:hover {
  background-color: var(--main-yellow);
  color: var(--secondary-green);
}

.primaryButton:active {
  background-color: var(--main-yellow);
  color: var(--secondary-green);
  border: solid 2px var(--main-green-03);
  padding: 6px 28px;
}

.primaryButton:disabled {
  background-color: var(--light-grey);
  color: var(--white);
}

.secondaryButton {
  border: 1px solid var(--black);
  float: left;
  margin: 10px;
  height: 30px;
  padding: 0 10px;
}

.secondaryButton:hover {
  background-color: var(--main-yellow);
  color: var(--main-green-03);
  border-color: var(--main-yellow);
}
