/* Main colors for RainyDays */
:root {
  --main-green-01: #004707;
  --main-green-02: #004707;
  --main-green-03: #0b3a40;
  --secondary-green: #025951;
  --success-green: #37ee49;
  --grey-blue: #182f5c;
  --main-blue-01: #0b3eff;
  --main-blue-02: #030a8c;
  --main-orange: #f85700;
  --main-red: #ca1936;
  --main-yellow: #ffd700;
  --grey: #707070;
  --light-grey: #d7d8db;
  --black: #0d0d0d;
  --white: #fff;
  --whitesmoke: #f5f5f5;
}
