/* Main colors for RainyDays */

$main-green-01: #004707;
$main-green-02: #004707;
$main-green-03: #0b3a40;
$secondary-green: #025951;
$grey-blue: #182f5c;
$main-blue-01: #0b3eff;
$main-blue-02: #030a8c;
$main-orange: #f85700;
$main-yellow: #ffd700;
$grey: #707070;
$black: #0d0d0d;
