section .text-field button {
  grid-area: view-button;
}
section .text-field p {
  grid-area: price;
}
section .text-field a {
  grid-area: heart-icon;
  justify-self: end;
}

section .text-field .footer-text {
  grid-area: footer-text;
}
footer .text-field .contact-icons {
  grid-area: contact-icons;
}
section .text-field .some-icons {
  grid-area: some-icons;
}
