.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  backdrop-filter: blur(10px);
}

.modal-dialog {
  position: relative;
  border: solid var(--main-green-03);
  border-radius: 5px;
  background: var(--whitesmoke);
  padding: 40px;
  text-align: center;
}

.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal-header {
  border: solid var(--success-green);
  padding: 5px;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.open-modal {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
