@import "colors.scss";
@import "searchField.css";

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Segoe UI", Open Sans, Verdana, sans-serif;
}

header {
  width: 100%;
  background-image: url("./../images/header-background.jpg");
  background-size: cover;
  background-repeat: none;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.logo {
  width: 140px;
  align-self: flex-start;
}

.logo {
  width: 100%;
  margin: 8px;
}

.wrapper-icons {
  line-height: 100px;
  font-size: x-large;
  color: #0b3a40;
  margin-right: 20px;
}

nav {
  width: 100%;
  padding: 1px;
  background-color: #0b3a40;
}

nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 1.25em;
  color: white;
  padding: 14px;
}

nav a:hover {
  background-color: #ffd700;
  color: #0b3a40;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  flex: none;
  color: #0b3a40;
  padding: 5px;
}

a:hover {
  color: #ffd700;
}

.main-picture {
  width: 100%;
}

.page-seperator {
  width: 90%;
  height: 20px;
  margin: 10px;
}

.news-section {
  display: flex;
  justify-content: space-evenly;
}

.news-item {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 20px;
}

.news-item img {
  width: 100%;
}

.text-field {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.text-field button p {
  flex-flow: column;
}

.news-item i {
  font-size: x-large;
  color: #0b3a40;
}

.news-item p {
  margin: 0 0 10px 10px;
}

.news-item a {
  margin: 0 0 10px 10px;
}

.news-item button {
  border: 1px solid black;
  border-radius: 8px;
  float: left;
  margin: 10px;
  height: 30px;
  padding: 0 5px;
}

.news-item button:hover {
  background-color: #ffd700;
  color: #0b3a40;
  border-color: #ffd700;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #0b3a40;
}

footer a {
  color: white;
}

.footer-text {
  width: 60%;
  margin-bottom: 20px;
  color: white;
}

.contact-icons {
  margin: 20px;
  font-size: x-large;
}

@media (min-width: 100px) and (max-width: 499px) {
  .news-section {
    flex-wrap: wrap;
  }

  .news-item img {
    width: 100%;
  }
}

@media (min-width: 500px) and (max-width: 699px) {
  .news-item img {
    width: 100%;
  }
}
