@import "colors.css";
@import "searchField.css";
@import "grid-areas.css";

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Open Sans, Verdana, sans-serif;
}

h2.news {
  text-align: center;
}

header {
  width: 100%;
  background-size: cover;
  background-repeat: none;
  position: fixed;
  z-index: 1;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--whitesmoke);
}

a.logo {
  width: 140px;
  align-self: flex-start;
}

.logo {
  width: 100%;
  margin: 8px;
}

.wrapper-icons {
  line-height: 100px;
  font-size: x-large;
  color: var(--main-green-03);
  margin-right: 20px;
}

nav {
  width: 100%;
  padding: 1px;
  background-color: var(--main-green-03);
}

nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 1.25em;
  color: var(--white);
  padding: 14px;
}

nav a:hover {
  background-color: var(--main-yellow);
  color: var(--main-green-03);
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  flex: none;
  color: var(--main-green-03);
  padding: 5px;
}

a:hover {
  color: var(--main-yellow);
}

.main-picture {
  width: 100%;
  margin-top: 10rem;
}

.page-seperator {
  margin: 10px auto;
  display: block;
}

.news-section {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.news-item {
  margin: 5px;
  width: 250px;
}

.news-item img {
  width: 100%;
}

.text-field {
  display: grid;
  grid-template-areas:
    "view-button heart-icon"
    "price price";
}

.news-item i {
  font-size: x-large;
  color: var(--main-green-03);
}

.news-item i:hover {
  color: var(--main-yellow);
}

.news-item p {
  margin: 0 0 10px 10px;
}

.news-item a {
  margin: 0 0 10px 10px;
}

.news-item button {
  border: 1px solid var(--black);
  text-align: center;
  border-radius: 8px;
  float: left;
  margin: 10px;
  height: 30px;
  padding: 0 5px;
}

.news-item button:hover {
  background-color: var(--main-yellow);
  color: var(--main-green-03);
  border-color: var(--main-yellow);
}

footer {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(var(--secondary-green), var(--main-green-03));
  display: grid;
  grid-template-areas:
    "footer-text footer-text"
    "contact-icons some-icons";
}

footer a {
  color: var(--white);
}

.footer-text {
  width: 60%;
  margin: 0 20px;
  color: var(--white);
}

.contact-icons,
.some-icons {
  margin: 0 20px 20px;
  font-size: x-large;
}

@media (min-width: 100px) and (max-width: 619px) {
  .news-section {
    flex-wrap: wrap;
  }

  .news-item img {
    width: 100%;
  }

  .news-item p {
    margin-top: 14px;
  }

  .news-item a {
    margin: 0;
  }
}

@media (min-width: 620px) and (max-width: 699px) {
  .news-item img {
    width: 100%;
  }
}
