@import "colors.css";
@import "searchField.css";
@import "grid-areas.css";
@import "buttons.css";

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}
/*Styling index-html*/

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Open Sans, Verdana, sans-serif;
}

.main-background {
  margin-bottom: 10px;
}

img {
  width: 100%;
}

.center-img {
  margin: 0 auto 10px auto;
  display: block;
}

h2.news {
  text-align: center;
}

header {
  width: 100%;
  background-size: cover;
  background-repeat: none;
  position: sticky;
  top: 0;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

a.logo {
  width: 140px;
  align-self: flex-start;
}

.logo {
  width: 100%;
  margin: 8px;
}

.wrapper-icons {
  line-height: 100px;
  font-size: x-large;
  color: var(--main-green-03);
  margin-right: 20px;
}

#icon-active {
  color: var(--main-yellow);
}

nav {
  padding: 1px;
  background-color: var(--main-green-03);
}

nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 1.25em;
  color: var(--white);
  padding: 14px;
}

nav a:hover {
  background-color: var(--main-yellow);
  color: var(--main-green-03);
}

#nav-a-active {
  background-color: var(--main-yellow);
  color: var(--main-green-03);
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  flex: none;
  color: var(--main-green-03);
  padding: 5px;
}

a:hover {
  color: var(--main-yellow);
}

.page-seperator {
  width: 90%;
}

/*END - Styling index-html*/

/*Styling woman.html and men.html */

.slogan {
  width: 50%;
}

.inspiration-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.inspiration-item {
  margin: 5px;
  width: 280px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.news-item {
  margin: 5px;
  width: 250px;
}

.text-field {
  display: grid;
  grid-template-areas:
    "view-button heart-icon"
    "price price";
}

.news-item i {
  font-size: x-large;
  color: var(--main-green-03);
}

.news-item i:hover {
  color: var(--main-yellow);
}

.news-item p {
  margin: 0 0 10px 10px;
}

.news-item a {
  margin: 0 0 10px 10px;
}

/*Styling woman.html and men.html */

/*Styling view-jacket.html*/

.view-jacket-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px;
}

.view-jacket-img {
  margin: 5px;
  width: 350px;
}

.view-jacket-text-field {
  display: flex;
  flex-direction: column;
  color: var(--main-green-03);
  width: 350px;
}

.view-jacket-color {
  margin: 20px 0;
}

.color-yellow {
  color: var(--main-yellow);
}

.color-oransje {
  color: var(--main-orange);
}

.color-red {
  color: var(--main-red);
}

.color-blue {
  color: var(--main-blue-02);
}

.color-light-blue {
  color: var(--main-blue-01);
}

.color-green {
  color: var(--secondary-green);
}

.view-jacket-text-field h1 {
  margin-bottom: 0;
}

.view-jacket-text-field p {
  margin: 5px;
}

/*END - Styling view-jacket.html*/

/*Styling shopping-cart.html and checkout.html*/

.my-shopping-cart-container {
  margin: 0 auto;
  width: 60%;
}

.my-shopping-cart-container h1,
h2 {
  text-align: center;
}

.price-item {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
}

.price-item p {
  margin: 2px 0;
}

.unset-width {
  width: unset;
}

.checkout-success {
  border: 1px solid var(--black);
  text-align: center;
  border: none;
  border-radius: 8px;
  float: left;
  margin: 10px;
  height: 30px;
  padding: 20px;
  background-color: var(--success-green);
}

.checkout-success i {
  margin: 10px;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  border-radius: 30%;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  backdrop-filter: blur(15px);
  padding: 10rem;
}

/*END - Styling shopping-cart.html and checkout.html*/

/*Styling footer*/

footer {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(var(--secondary-green), var(--main-green-03));
  display: flex;
  flex-wrap: wrap;
}

footer a {
  color: var(--white);
}

.footer-text {
  width: 60%;
  margin: 0 20px;
  color: var(--white);
}

.about {
  text-align: left;
}

.contact-icons {
  margin: 0 20px 20px;
  font-size: x-large;
}

/*END - Styling footer*/

@media (min-width: 100px) and (max-width: 619px) {
  .news-container {
    flex-wrap: wrap;
  }

  .news-item p {
    margin-top: 14px;
  }

  .news-item a {
    margin: 0;
  }

  .slogan {
    width: 60%;
  }

  .view-jacket-container {
    margin: 5px;
  }

  .view-jacket-text-field {
    margin-left: 10px;
  }

  .price-item {
    display: flex;
    justify-content: space-between;
    margin: unset;
  }

  .checkout-container {
    top: 60%;
    padding: 8rem 0 10rem 0;
  }
}
